<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="demoBean" class="com.soup.memo.spring.ch1.DemoBean">
        <property name="message" value="demo message"/>
    </bean>

    <bean id="demoBean2" class="com.soup.memo.spring.ch1.DemoBean">
        <property name="message" value="demo message2"/>
    </bean>
</beans>